<ion-content>
    <ion-slides pager="true" class="fullHeight">
  
      <ion-slide>
        <div >      
          <img src="assets/images/logo.jpg">
          <p class="tutorialTextContainer"><b>Ibis</b> es una plataforma de ayuda encargada de orientar y escuchar las dificultades e inconvenientes sobre violencia sexual en el transporte público</p>
        </div>
      </ion-slide>
  
      <ion-slide>
          <div>         
          <img src="assets/images/anonymous.jpg">
          <p class="tutorialTextContainer">En este espacio todas las interacciones son anonimas, asi que no te sentirás juzgada(o), discrimanada(o), si no simplemente escuchada(o) y orientada(o)</p>
        </div>
      </ion-slide>
  
      <ion-slide>
        <div>     
          <img src="assets/images/experts.jpg">
          <p class="tutorialTextContainer">Chatea con expertos en el tema para  que obtengas el asesoramiento correcto.</p>
        </div>
      </ion-slide>
  
      <ion-slide>
          <div>     
            <img src="assets/images/help.jpg">
            <p class="tutorialTextContainer">Encuentra información acerca de los canales de apoyo oficiales.</p>
            <ion-button  color="primary" routerLink="/tabs/testimonials" routerDirection="root">Cerrar tutorial</ion-button>
          </div>
        </ion-slide>
  
    </ion-slides>
  </ion-content>
  