
.mat-expansion-panel {
    background-color: rgb(250,250,250) !important;
}

.mat-panel-title{
    text-align: center;
}

li, a, h2 {
    color: #666 !important;
}

p{
    font-weight: bold;
}

.mat-expansion-panel-header {
    height: 70px!important;
    background: var(--ion-color-primary) !important;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

mat-panel-description{
    display: flex;
    flex-direction: column;
}

.centerPanel{
    margin: 20px 0px;
}

