<ion-header>
  <ion-toolbar>
    <ion-title>Escribe tu testimonio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formContainer">
    <img src="assets/images/writeTestimonial.jpg">
    <div>
        <ion-item >
            <ion-label position="stacked">Título *</ion-label>
            <ion-input></ion-input>
          </ion-item>
      
          <ion-item >
            <ion-label position="stacked">Descripción *</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
      
          <ion-item >
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input></ion-input>
          </ion-item>
      
          <ion-item >
            <ion-label position="stacked">Edad</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>
    </div>
    

    <ion-button class="ion-margin-top" expand="block">Publicar</ion-button>
  </div>       
</ion-content>
