
ion-textarea {
    height: 60px;
    background-color: beige;
    margin: 8px 0;
    border-radius: 15px;
    padding: 10px;
}

.msg {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 60%;    
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.self-msg {
    margin-right: 10px;    
    text-align: right;
    margin-left: 40%;
    --ion-background-color: #defcde;
}

.default-msg{
    margin-left: 10px;    
    text-align: left;    
    margin-right: 40%;
    --ion-background-color: rgba(136, 133, 184, 0.3);
}

.sendButton{
    margin-left: 15px;
}