<ion-header>
  <ion-toolbar>
    <ion-title>Chats activos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="openChat(chat)">
      <!-- <ion-note slot="start" *ngIf="!chat.readed" class="new-message">!</ion-note> -->
      <ion-label>
        <h1>{{chat.name}}</h1>
        <p>{{chat.last_msg}}</p>
      </ion-label>
      <ion-note *ngIf="chat.time" slot="end" class="message-time">{{timeToStringDate(chat.time)}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>