.card-note-contariner {
  // width: 100%;
  text-align: right;
  padding-top: 0px;
}

ion-card-content {
  padding-bottom: 0px;
  padding-top: 0px;
  p {
    max-height: 60px;
    overflow: hidden;
  }
}

.card0{
  background-color: #fff7f7
}

.card1{
  background-color: #e8ffd044
}

.card2{
  background-color: #f5ffd5
}

.card3{
  background-color: #fffeeb
}