<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Testimonios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let testimonial of testimonials; let i = index"
    class="pointer card{{ i % 5 }}"
    (click)="onClikcTestimonial(testimonial, i)"
  >
    <ion-card-header>
      <ion-card-subtitle>Testimonio:</ion-card-subtitle>
      <ion-card-title class="ion-text-nowrap">
        {{ testimonial.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-wrap">{{ testimonial.description }}</p>
      <span>...</span>
    </ion-card-content>
    <div class="card-note-contariner ion-padding">
      <ion-note class="ion-margin-bottom ion-padding">
        {{ testimonial.author }},{{ testimonial.authorAge }} años
      </ion-note>
    </div>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button routerLink="/new-testimonial">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
